{
	"plugins": ["prettier"],
	"extends": [
		"eslint:recommended",
		"plugin:node/recommended",
		"plugin:prettier/recommended"
	],
	"env": {
		"node": true,
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": 2015
	},
	"rules": {
		"no-underscore-dangle": "off",
		"no-mixed-requires": "off",
		"new-cap": "off",
		"no-path-concat": "off",
		"no-shadow": "warn",
		"no-array-constructor": "error",
		"no-caller": "error",
		"no-eval": "error",
		"no-extend-native": "error",
		"no-extra-bind": "error",
		"no-with": "error",
		"no-loop-func": "error",
		"no-multi-str": "error",
		"no-new-func": "error",
		"no-new-object": "error",
		"no-return-assign": "error",
		"no-sequences": "error",
		"no-shadow-restricted-names": "error",
		"no-unused-expressions": "error",
		"no-use-before-define": "off",
		"no-new": "off",
		"dot-notation": ["error", { "allowKeywords": true }],
		"eqeqeq": "error",
		"new-parens": "error",
		"strict": ["error", "global"],
		"yoda": "error",
		"valid-jsdoc": "error",
		"object-shorthand": "error",
		"no-var": "error",
		"prefer-const": "error",
		"prefer-arrow-callback": "error",
		"arrow-body-style": [
			"error",
			"as-needed",
			{ "requireReturnForObjectLiteral": true }
		],
		"prefer-template": "error"
	},
	"overrides": [
		{
			"files": ["test/**/*.js"],
			"env": {
				"jest": true
			},
			"rules": {
				"no-console": "off",
				"no-unused-vars": "off",
				"no-shadow": "off",
				"no-unused-expressions": "off"
			}
		},
		{
			"files": ["example/**/*.js", "benchmarks/**/*.js"],
			"rules": {
				"no-console": "off"
			}
		}
	]
}
