init:
  - git config --global core.autocrlf true

environment:
  matrix:
  - nodejs_version: 4
  - nodejs_version: 6

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

test_script:
  - node --version && npm --version
  - npm test

build: off

matrix:
  fast_finish: true
