on: [pull_request]

name: Changelog Reminder
jobs:
  remind:
    name: Changelog Reminder
    runs-on: ubuntu-latest
    permissions:
      issues: write # to create comment
    steps:
      - uses: actions/checkout@master
      - name: Changelog Reminder
        uses: peterjgrainger/action-changelog-reminder@v1.2.0
        with:
          changelog_regex: 'CHANGELOG\.md'
          customPrMessage: 'Thanks for opening this pull request! Each pull request require an update in the CHANGELOG. Please update it based on your changes.'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
